@tailwind base;
@tailwind components;
@tailwind utilities;

.button{
    transition: transform .2s; /* Animation */
}

.button:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.imagen{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 300ms;
    animation-iteration-count: infinite;
    animation-name: pulse;
}

